<mat-toolbar class="top-nav-bar" *ngIf="isInit">
  <div class="logo-div">
    <span class="logo"></span>
    <span>Sample Console</span>
  </div>
  <div class="tools-div">
    <ng-container>
      <button #activityMenuButton mat-button [matMenuTriggerFor]="eventMenu" (menuOpened)="onOpenEventMenu()">
        <mat-icon matBadge="{{ unReadCounter }}" matBadgeColor="warn">notifications</mat-icon>
      </button>
      <mat-menu class="event-menu" xPosition="before" #eventMenu="matMenu">
        <div class="menu-title">
          {{'PAGE.MAIN_FRAME.TITLE.LAST_EVENT'|translate}}
        </div>
        <mat-spinner *ngIf="isEventLoading"></mat-spinner>
        <div *ngIf="!isEventLoading" class="menu-content">
          <div *ngIf="eventItems.length === 0" class="event-empty">
            <mat-icon>circle_notifications</mat-icon>
            {{'PAGE.MAIN_FRAME.TITLE.NO_EVENT'| translate}}
          </div>
          <ng-container *ngIf="eventItems.length > 0">
            <div class='event-item-div' *ngFor="let item of eventItems; let itemIndex=index">
              <ng-container *ngIf="itemIndex < 5">
                <div class="item-title">
                  <div class="title">{{ item.title }}</div>
                  <small>{{"PAGE.MAIN_FRAME.TITLE.AT"|translate}} {{ item.timestamp }}</small>
                </div>
                <button class="confirm-button" mat-stroked-button
                        [disabled]="item.confirm" (click)="onConfirmEventItem(item, $event);">
                  {{'COMON.TEXT.CONFIRM' | translate}}
                </button>
              </ng-container>
            </div>
          </ng-container>
        </div>
        <div class="more-div">
          <a class="more-link" [routerLink]="'/more_event'" (click)="activityMenuButton._getHostElement().click()">
             {{'PAGE.MAIN_FRAME.ACTIVE.SEE_MORE'| translate}}
          </a>
        </div>
      </mat-menu>
    </ng-container>
    <ng-container>
      <button class="user-menu-icon" mat-button [matMenuTriggerFor]="userMenu">
        <mat-icon class="icon">account_circle</mat-icon>
        Hi, User
        <mat-icon>arrow_drop_down</mat-icon>
      </button>

      <mat-menu class="user-menu" #userMenu="matMenu">
        <button mat-menu-item (click)="onClickLogout()">
          <mat-icon>power_settings_new</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
    </ng-container>
  </div>
</mat-toolbar>
