:host {
  display: flex;
  flex-direction: column;
  outline: none;
  width: 100%;
}

.menu-item-a.mat-list-item {
  .mat-list-item-content {
    flex: 1 1 100%;
  }
}

.mat-list-item {
  &.active {
    background: rgba(0, 0, 0, 0.04);
  }

  &.active:hover {
    background: rgba(0, 0, 0, 0.14);
  }

  height: 46px;

  .item-div {
    display: flex;
    align-items: center;

    .icon {
      font-size: 14px;
      width: 14px;
      height: 14px;
      margin-right: 10px;
    }

    .image {
      height: 13px;
      width: 13px;
      margin: 0 11px 0 0;
    }

    .name {
      margin: 0;
      overflow: hidden;
      font-size: 13px;
      font-family: 'Open Sans', sans-serif;
      font-weight: 600;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  .expanded-icon {
    font-size: 16px;
    width: 16px;
    height: 16px;
  }

  .sub-menu-div {
    background: white;
  }
}
