<mat-nav-list>
  <ng-container *ngFor="let item of menuItems;let menuIndex=index">
    <ng-template [ngTemplateOutlet]="menuItemRef" [ngTemplateOutletContext]="{ item: item, menuIndex: menuIndex }"></ng-template>
  </ng-container>
</mat-nav-list>


<ng-template #menuItemRef let-item="item" let-menuIndex="menuIndex">
  <a *ngIf="item.isShow" class="menu-item-a" mat-list-item (click)="onClickMenuItem(item, menuIndex)"
      [ngClass]="{
                    'active': isItemActive(item.routingName),
                    'expanded': isExpanded
                  }">
    <div class="item-div menu-item">
       <mat-icon *ngIf="item.iconName" class="icon">{{item.iconName}}</mat-icon>
       <img *ngIf="item.iconImagePath" class="image" [src]="item.iconImagePath"/>
       <div class="name">{{item.itemName}}</div>
    </div>
  </a>
  <div class="item-div sub-menu" *ngIf="item.isShow && isExpanded && (selectedItemIndex === menuIndex)">
    <ng-container *ngFor="let subItem of item.subMenu">
      <ng-template [ngTemplateOutlet]="subItemRef" [ngTemplateOutletContext]="{ item: subItem }"></ng-template>
    </ng-container>
  </div>
</ng-template>

<ng-template #subItemRef let-item="item">
  <a *ngIf="item.isShow" class="menu-item-a" mat-list-item (click)="onClickMenuItem(item)"
      [ngClass]="{
                    'active': isItemActive(item.routingName),
                    'expanded': isExpanded
                  }">
    <div class="item-div sub-item">
       <mat-icon *ngIf="item.iconName" class="icon">{{item.iconName}}</mat-icon>
       <img *ngIf="item.iconImagePath" class="image" [src]="item.iconImagePath"/>
       <div class="name">{{item.itemName}}</div>
    </div>
  </a>
</ng-template>
