.component-div {
  display: flex;
  flex-direction: column;
  padding-bottom: 15px;

  .label {
    display: flex;
    width: 136px;
    color: #3c3c3c;
    font-family: 'Microsoft JhengHei';
    line-height: 32px;
    font-weight: 700;
  }

  .content {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 280px;

    mat-hint {
      font-size: 15px;
    }
  }

  .label > span {
    color: red;
    visibility: hidden;
  }
}

.component-div.required > .label > span {
  visibility: visible;
}

.needed .redstar::after {
  content: '*';
  color: red;
  font-size: 8px;
  font-weight: bold;
  vertical-align: super;
}
