<div class="mat-app-background mars-component">
  <div class="main-header tab-bar">
    <div class="header-primary">
      <div class="header-title">{{'PAGE.MAIN_FRAME.MENU.FORM_DEMO'|translate}}</div>
      <div class="flex-spacer"></div>
      <div header-action-show >
      </div>
    </div>
  </div>
  <div class="main-content tab-content">
    <mat-tab-group #tabGroup disableRipple="true" animationDuration="0ms" class="page-header-tabs">
      <mat-tab label="{{'COMON.TEXT.DESCRIPTION'|translate}}">
        <ng-template matTabContent>
          <div class="tab-content-div">
            <p>
              Use angular form APIs to hanld this form.<br/>
              It can set initial value, regex validator when build up.<br/>
              It also can set validator after type something.<br/>
              <br/>
              More detail please access the official web page.
            </p>
            <a href="https://angular.io/api/forms" target="_blank">
              Access Angular Forms API Doc.
            </a>
          </div>
        </ng-template>
      </mat-tab>

      <mat-tab label="DEMO">
        <ng-template matTabContent>
          <div class="tab-content-div">
            <mat-checkbox [(ngModel)]="isDemoDynamicValidate">
              Show Dynamic Validate Field
            </mat-checkbox>
            <form [formGroup]="demoForm">
              <app-label-input [isRequired]="true" label="Field01">
                <mat-form-field appearance="outline">
                  <input matInput formControlName="field01"/>
                  <mat-error>{{'REGEX.MESSAGE.ERROR.NUMBER'|translate}}</mat-error>
                </mat-form-field>
              </app-label-input>

              <app-label-input [isRequired]="false" label="Field02">
                <mat-form-field appearance="outline">
                  <input matInput formControlName="field02"/>
                </mat-form-field>
              </app-label-input>

              <app-label-input *ngIf="isDemoDynamicValidate" [isRequired]="false" label="Field03">
                <mat-form-field appearance="outline">
                  <input matInput formControlName="field03"/>
                  <mat-hint>This field only validate when it has value.</mat-hint>
                  <mat-error>{{'REGEX.MESSAGE.ERROR.NUMBER'|translate}}</mat-error>
                </mat-form-field>
              </app-label-input>
            </form>
            <button (click)="onClickResetForm()">Set Form Value</button>
            <button (click)="onClickValidateForm()">Form Validate</button>
            <button (click)="onClickShowFormResult()">Show Form Result</button>
            <br/>
            <span>Form Result: {{ formResultStr }}</span>
          </div>
        </ng-template>
      </mat-tab>

    </mat-tab-group>
  </div>
</div>
