/* You can add global styles to this file, and also import other style files */
@import './assets/scss/defined-break-points';
@import './assets/scss/font';
@import './assets/scss/defined-constant';
@import '~@angular/material/theming';
@import '~ngx-toastr/toastr';

// Default colors
$app-primary: mat-palette($mat-indigo);
$app-accent: mat-palette($mat-blue, A200, A100, A400);
$app-warn: mat-palette($mat-red);
$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);
@include mat-core();
@include angular-material-theme($app-theme);

* {
  box-sizing: border-box;
}

// Default style of icons
.material-icons {
  // Need to assign icon font family
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  height: 100vh;
  overflow: hidden;

  .global-font {
    font-family: 'Open Sans', sans-serif !important;
    font-size: 13px;
    color: #292a1d;
  }
}

.app-root {
  height: 100%;
}

// Remove the input shadow that add by browser when auto complete
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  background-clip: text;
  -webkit-background-clip: text;
  box-shadow: none;
}

// Page conmponent area style
.sample-page-component {
  .main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
    width: 100%;
    background: #fff;

    .header-title {
      font-size: 20px;
      color: #3c3c3c;
    }
  }

  .tab-page-header {
    padding-bottom: 0;
  }
}

// Table row action list
.sample-content-table-row-actions {
  display:flex;
  flex-direction: column;
}
