<div class="sample-page-component">
  <div class="main-header">
    <div class="header-title">
      {{'PAGE.MAIN_FRAME.MENU.SPA_LAYOUT_DEMO'|translate}}
    </div>
    <div class="header-action">
      <button class="sample-action-button" mat-stroked-button>
        Page Action01
      </button>
      <button class="sample-action-button" mat-stroked-button>
        Page Action01
      </button>
    </div>
  </div>
  <div class="main-content">
    <p>
      Use CSS to build this layout.<br/>
      It's a basic SPA layout.<br/>
      You can put any HTML/Template/Component here.<br/>
      <br/>
      More detail please reference sample site source code.
    </p>
  </div>
</div>
